div {
    font-size: 32px;
}
input {
    font-size: 20px;
}
button{
    font-size: 20px;
}
#gg {
    margin-top: 15px;
    margin-left: 30%;
}
#kk {
    font-size: 25px;
}
#mm{
    font-size: 25px;
}
#pp{
    height: 200px;
    width: 500px;
    
}